<form method="post" action="{{ path('invitaciones_delete', {'id': invitacione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invitacione.id) }}">
    <button class="btn">Delete</button>
</form>
