<form method="post" action="{{ path('actor_economico_delete', {'id': actor_economico.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor_economico.id) }}">
    <button class="btn">Delete</button>
</form>
